---
title: "Welcome to TimpWorks"

layout: page

permalink: /

header:
    overlay_image: /assets/images/skidsteer-header.jpg
    overlay_filter: rgba(0, 0, 0, 0.6)

    actions:
        - label: "Get Started"
          url: /#contact
          blank: false
        - label: "Rental Equipment"
          url: /#equipment
          blank: false
        - label: "Project Assistance"
          url: /#assistance
          blank: false

excerpt: "**Offering the equipment and assistance you need to get your yard project off the ground**"




image-text-row:
    - header: "Mini Excavator Rental"
      excerpt: "Available for your landscaping, trenching or clean up projects."
      image-url: "/assets/images/mini-ex.png"
      alt-text: "Mini Excavator Rental"
      image-width: "400px"
      image-right: false

image-flattrailer:
      - header: "Flatbed Trailer Rental"
        excerpt: "Mainly used to transport your rental equpment to your project site. Free to rent standalone for your other transport needs."
        image-url: "/assets/images/Flatbed-Utility-Trailer.webp"
        image-width: "400px"
        image-right: true

image-dumptrailer:
    - header: "Hydraulic Dump Trailer Rental"
      excerpt: "Not only transport your excavator rental to your project site, but this trailer can be used to bring material to your site or remove material from your location."
      image-url: "/assets/images/dump-trailer.webp"
      alt-text: "Alternative text for the image"
      image-width: "400px"
      image-right: false
---

<section class="site-section first-section" id="equipment">

    <h1>Equpment Rentals Available</h1>

    <p>Rent our equipment for your yard projects. Landscaping, junk removal, excavation? We got you. TimpWorks not only provides excavation and trailer rental services, but we include operator assistance as well. We can drop off and pick up the equipment and even stay onsite to operate the equipment if you need more assistance.</p>

    <hr>

    {% include image-text-row %}

    <hr>

    {% include image-text-row id="image-flattrailer" %}

    <hr>

    {% include image-text-row id="image-dumptrailer" %}

</section>




<hr class="section-sep">




<section class="site-section alternative-color" id="assistance">

    <h1>Project Assistance</h1>

    <p>TimpWorks not only provides excavation and trailer rental services, but we include operator assistance as well. We can drop off and pick up the equipment and even stay onsite to operate the equipment if you need more assistance.</p>


</section>




<hr class="section-sep">









<section class="site-section white" id="contact">

    <script src="https://www.cognitoforms.com/f/seamless.js" data-key="qBHgsLqPHEieCfyF6POO1w" data-form="1"></script>

</section>